*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}




/* start of the navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* background-color: white; */
    position: fixed;
    top: 0;
    z-index: 2;
    /* opacity: 0.8; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px black;
    transition: 0.5s ease;
}



/* active this class with 20px down scrool */
.nav_active{
    background-color: #60a3d9;
    color: black;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}



/* NOTE to create a navbar that active when you scrool 20px down */

nav .logo{
    font-size: 1.3rem;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

nav .logo span{
    color: #003b73;
    font-weight: 900;
}

.nav_links a{
    text-decoration: none;
    padding-right: 20px;
    font-size: 1.3rem;
    /* color: black; */
    color: white;
    text-transform: uppercase;
    position: relative;

}

.nav_links a:after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease;
}



.nav_links a:hover{
    color: #003b73;
}

.nav_links a:hover::after{
    width: 90%;
}


/* end of the navbar */

/* start of the first sectino */

.first_section{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* display: grid;
    place-items: center; */

}


.first_section .company{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10);
    animation: fromtop 1s ease;
    
    
}

@keyframes fromtop {
    from{
        top: 10%;
        opacity: 0;
    }

    to{
        top: 50%;
        opacity: 1;
    }
}

.first_section .company span{
    color: #60a3d9;
    display: block;
    text-align: center;
    font-size: 2.6rem;
    text-transform: uppercase;
}

/* end of the first sectino */


/* start of the second section */

.second_section{
    height: 100vh;
    width: 100%;
    /* background-color: #bfd7ed; */
    position: relative;
    
}

.second_section1{
    height: 100px;
    width: 60%;
    background-color: white;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 20px black;
    /* transition-property: background-color; */
    transition:background-color 0.5s ease;
}

.second_section1 p{
    font-size: 3rem;
    text-shadow: 0 0 10px #003b73;
    
}

.second_section1:hover{
    background-color: #003b73;
    color: white;
}


/* second_section part 2 */
.second_section2{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.second_section2_left{
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px 100px;
    position: relative;
    
}

.second_section2_left .info{
    text-align: center;
    padding: 20px;
    color: #0074b7;
    font-size: 1.9rem;

}

.second_section2_left p{
    font-size: 1.5rem;
    text-align: justify;
    
}

.second_section2 .readmore{
    padding: 15px;
    position: absolute;
    right: 50px;
    bottom: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.readmore:hover{
    background-color: #003b73;
    border: 1px solid white;
}

.second_section2_right{
    width: 30%;
    height: 75%;

}

.second_section2_right_ceo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 20px 100px;
    transition:transform 0.5s ease;

}

.second_section2_right:hover .second_section2_right_ceo{
    transform: scale(1.05);
}


/* end of the second section */


/* start of the third section */

.third_section{
    /* height: 100vh; */
    width: 100%;
    background-color: #f8fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding:100px 0 ;

}

.card{
    background-color: white; 
    border: 5px solid #edeff1;
    border-radius: 10px;
    /* height: 500px; */
    width: 30%;
    overflow: hidden;

}

.card:hover{
    box-shadow: 0 0 10px black;
}

.card .card_img{
    width: 100%;
    /* background-color: red; */


}

.card .card_img img{
    width: 100%;
    transition: 0.5s ease;

}

.card_img:hover img{
    transform: scale(1.05);
}

.card_info{
    padding: 20px;
    
}

.card_info h2{
    font-size: 1.9rem;
    padding-bottom: 10px;
    
}



.card_info p{
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.card_info p::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    

}


.card_learnmorebtn{
    padding: 10px;
    background-color: #003b73;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px 25px;
    font-size: 1rem;
}

.card_learnmorebtn span{
    color: #60a3d9;
    font-size: 1.2rem;
    animation: animatetoright 1s 0.2s ease infinite;
}



@keyframes animatetoright{

    from{
        margin-left: 0;
        opacity: 0;
    }

    to{
        margin-left: 20px;
        opacity: 1;
    }

    
}



.card_learnmorebtn:hover{
    opacity: 0.9;
}


/* end of the third section */



/* start of the fourth part */

.fourth_section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #60a3d9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 100px;

}

.fourth_section h2{
    position: absolute;
    top: -20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 2rem;
}

.fourth_section h2:hover{
    background-color: #191919;
    color: white;


}



.fourth_section_card{
    height: 40%;
    width: 25%;
    /* background-color: black; */
    background-image: url('../images/cardsimage/s\ \(2\).jpg');
    border-radius: 10px;
    background-position: center;
    background-size: cover;

}



.card_image{
    height: 100%;
    width: 100%;
    background:linear-gradient( rgba(0, 0, 0, 0.1), black);
    transform: scale(0);
    transition: 0.5s ease;
    display: grid;
    place-items: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}


.fourth_section_card:hover .card_image{
    visibility: visible;
    transform: scale(1);
}







/* end of the fourth part */


/* start of contact Section */


.contact{
    height: 50vh;
    width: 100%;
    background-color: #f8fafb;
    display: grid;
    place-items: center;
    gap: 20px;
    background-image: url('../images/second.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contact_component{
    display: flex;
    /* justify-content: space-evenly; */
    background-color: black;
    border-radius: 10px;
}

.contact_component p{
    color: white;
    padding: 20px 10px;
    font-size:2rem;
    margin-right: 20px;
}

.contact_component button{
    padding: 10px 20px;
    font-size:1.5rem;
    background-color:#003b73;
    color:white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}


.contact_component button:hover{
    background-color: #0074b7;
    
}





/* end of contact Section */






/* footer start  */

footer{
    height: 50vh;
    width: 100%;
    background-color: #fff;
    padding: 50px 100px;
    
}

.footer_trust{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a09e9c;
}

.trustleft{
    font-size: 2rem;
    font-family: sans-serif;
}

.trustleft span{
    color: #0074b7;
}




.trustright img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    margin-left: 20px;
    transition: transform 0.5s ease;
    /* filter: grayscale(100%); */
}

.trustright img:hover{
    transform: scale(1.2);
    /* filter: grayscale(0); */
}


.footer_copyright{
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    font-size: 1rem;
    color: #a09e9c;
}

.socialmedia img{
    height: 50px;
    width: 50px;
    filter: grayscale(100%);
    transition: 0.5s ease;
}


.socialmedia img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    
}





/* footer end */


html{
    scroll-behavior: smooth;
}

/* sign in page */

.signin_container{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* top: -100vh; */
    /* left: 0; */
    transform: scale(0);
    transition: 0.5s ease;
    visibility: hidden;
    z-index: 2;
}

.signin_container_active{
    transform: scale(1);
    visibility: visible;
    top:0;
}

.signin_container span{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.signin_container span:hover{
    color: black;
    background-color:white;
}

form{
    width: 400px;
/*		height: 350px;*/
		border: 1px solid #aaa;
		box-shadow: 0 0 20px black;
		margin: 140px auto;
		padding: 20px;
        padding-top: 30px;
		background-color: white;
		border-radius: 10px;
}

input[type="email"], .password{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="checkbox"], label{
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding:0 5px; 
    width: 1.1rem;
    height: 1.1rem;

}



/*label{
    margin-bottom: 10px;
}*/


input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #0074b7;
    color: white;
    margin-bottom: 20px;
}

input::placeholder{
    color: black;
    

}

input[type="submit"]:hover{
    background-color: #003b73;
}


.notRegistered{
    margin:10px 0;
    text-align: center;
    font-family: sans-serif;
}

.notRegistered a{
    text-decoration: none;
    color: darkred;
}

/* end of sign in page */
